{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>
<main class="main">
    <div class="bubbles-block mb-5">
        <div class="absolute-text" style="font-family: 'Ubuntu', Arial, Helvetica, sans-serif;">
            <h1>Привiт!</h1>

        </div>
        <div class="absolute-text-2" style="font-family: 'Ubuntu', Arial, Helvetica, sans-serif;">
            <h2>Ми досліджуємо методику вивчення мови через асоціації. Приєднуйтесь!</h2>
        </div>

        <div class="bubbles-block__little little-bubbles">
            <div class="little-bubbles__left">
                <div class="little-bubbles__left-top">
                    <div class="bubble" style="background-image: url('{% static 'img/nav_and_front/improve.jpeg' %}');">
                    </div>
                </div>
                <div class="little-bubbles__left-bottom"></div>
            </div>
            <div class="little-bubbles__middle">
                <div class="bubble" style="background-image: url('{% static 'img/nav_and_front/learn.jpeg' %}');">
                </div>
            </div>
            <div class="little-bubbles__right">
                <div class="bubble"
                     style="background-image: url('{% static 'img/nav_and_front/explore.jpeg' %}');"></div>
            </div>
        </div>

        <div class="bubbles-block__big">
            <div class="bubble" style="background-image: url('{% static 'img/nav_and_front/learn.jpeg' %}');"></div>

        </div>

    </div>

    <div class="find-block mt-5 mb-5">
        <div class="container">
            <div class="find-block__container">
                <div class="find-block__title">
                    &#8226; Що ви можете тут знайти:
                </div>

                <div class="find-block__item">
                    <div class="find-block__item-left">
                        <div class="find-block__item-image">
                            <img src="{% static 'img/nav_and_front/puzzle.svg' %}" alt="puzzle icon">
                        </div>
                    </div>
                    <div class="find-block__item-right">
                        <div class="find-block__item-title">Метод навчання асоціативним способом.</div>
                        <div class="find-block__item-text">
                            На нашому веб-сайті вас чекає асоціативний метод вивчення іноземної мови через гру. Дивись,
                            слухай, запам'ятовуй.
                        </div>
                    </div>
                </div>

                <div class="find-block__item">
                    <div class="find-block__item-left">
                        <div class="find-block__item-image">
                            <img src="{% static 'img/nav_and_front/wand.svg' %}" alt="magic wand icon">
                        </div>
                    </div>
                    <div class="find-block__item-right">
                        <div class="find-block__item-title">Ігри для запам'ятовування</div>
                        <div class="find-block__item-text">
                            На нашому сайті ви можете грати в інтерактивні вправи, які включають озвучення на кількох
                            мовах та містять зображення для полегшення асоціацій.
                        </div>
                    </div>
                </div>

                <div class="find-block__item">
                    <div class="find-block__item-left">
                        <div class="find-block__item-image">
                            <img src="{% static 'img/nav_and_front/list.svg' %}" alt="list icon">
                        </div>
                    </div>
                    <div class="find-block__item-right">
                        <div class="find-block__item-title">Плейлисти та уроки для кращого навчання.</div>
                        <div class="find-block__item-text">
                            На нашому сайті ви маєте можливість створювати власні уроки, складати плейлисти для них та
                            додавати слова чи фрази до цих плейлистів для інтерактивного навчання.
                            Можливість створювати власні уроки з індивідуально налаштованими завдань дозволить вам
                            адаптувати навчання під ваші потреби та теми, які вас цікавлять.
                        </div>
                    </div>
                </div>

                <div class="find-block__item">
                    <div class="find-block__item-left">
                        <div class="find-block__item-image">
                            <img src="{% static 'img/nav_and_front/users.svg' %}" alt="users icon">
                        </div>
                    </div>
                    <div class="find-block__item-right">
                        <div class="find-block__item-title">Обмін ресурсами та досвідом.</div>
                        <div class="find-block__item-text">
                            Ви також зможете користуватися матеріалами, створеними іншими користувачами, а також
                            ділитися ними зі своїми друзями, знайомими або навіть студентами, що допомагає вивчати мови
                            разом.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="try-block mt-5 mb-5">
        <div class="container mt-5 mb-5">
            <div class="try-block__container">
                <div class="try-block__title">&#8226; Спробуй зараз:
                </div>
                <div class="try-block__row">
                    {% for page_info in pages_with_icons %}
                    <div class="try-block__card mb-3 {% cycle 'card-pastel-1' 'card-pastel-2' 'card-pastel-3' 'card-pastel-4' 'card-pastel-5' %}">
                        <h3>{{ page_info.title }}</h3>
                        <p>{{ page_info.description|slice:":65" }}...</p>
                        <img src="{{ page_info.icon_url }}" alt="{{ page_info.title }}" width="80" height="80">
                        <a href="{% url 'my:view_page' page_info.id %}" class="btn b-card-pastel">Вивчати</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="about-block mt-5 mb-5">
        <div class="container mt-5 mb-5">
            <div class="about-block__title">&#8226; Наша мета:</div>
            <div class="about-block__info">
                <div class="about-block__gif">
                    <img class="dino-gif" src="{% static 'img/nav_and_front/dino.gif' %}" alt="dino team">
                </div>
                <div class="about-block__text">
                    "Ми - програмісти, які зараз вивчають мови. Ми розуміємо, наскільки захопливо та корисно грати в
                    ігри, створені твоїми друзями.

                    Наша команда має за мету створити ресурс для обміну знаннями. Дати можливість кожному знайти тему
                    для
                    вивчення та надати можливість друзям, колегам, чи навіть незнайомим людям обмінюватись знаннями та
                    навчатися
                    в інтерактивній формі разом. Саме це сприяє досягненню кращих результатів у навчанні, зацікавлення
                    темою."
                </div>
            </div>
        </div>



    <div class="tips-block mt-5">
        <div class="container mt-5">
            <div class="tips-block__container">
                <form method="post" class="tips-block__text">
                    {% csrf_token %}
                    <span>
                      Якщо у вас є ідея або порада, як нам стати кращими, напишіть її внизу, та ми обов'язково візьмемо її до уваги!
                  </span>
                    <textarea name="message" rows="8" class="tips-block__input"></textarea>
                    <button type="submit" class="tips-block__button">Надіслати</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer class="footer"></footer>
</div>
{% endblock %}



