{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container font-family-game base-container mt-3">
<div class="container">
    <div class="row">
       <div class="col-md-6 text-center mt-5 mb-5" style="border-right: 1px solid #8a858a;">
            <h2>Твої плейлисти:</h2>
            <div class="playlist-container">
                <ul class="list-group">
                    {% for playlist in playlists %}
                    <li class="list-group-item playlist-item mb-2 word-title d-flex">
                        <div class="col-9 new-line-anyway">
                            <a class="playlist-link text-center" href="{% url 'my:playlist_detail' playlist.id %}">{{ playlist.title }}</a>
                        </div>
                        <div class="col-3">
                            <a href="{% url 'my:edit_playlist' playlist.id %}" class="mx-2 mb-2 copy-link-btn mr-2"><img src="{% static 'img/update.svg' %}" alt="" style="width: 17px; height: 17px;" title="Копіювати посилання"></a>


                            <a class="copy-link-btn function-link" data-link="{{ request.get_host }}{% url 'my:playlist_detail' playlist.id %}">
                                <img src="{% static 'img/link.svg' %}" alt="Видалити">
                            </a>


                            <a href="{% url 'my:delete_playlist' playlist.id %}" class="ml-2 delete-playlist" data-id="{{ playlist.id }}" title="Видалити">
                                <img src="{% static 'img/complaint.svg' %}" alt="" style="width: 17px; height: 17px;">
                            </a>
                        </div>
                    </li>
                    {% endfor %}


                </ul>
            </div>
        </div>

        <div class="col-md-6 mt-5 mb-5">
            <h2 class="mt-0">Створити плейлист</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Назва</label>
                    <input type="text" class="form-control" id="title" name="title">
                    {% for error in form.title.errors %}
                                <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="description">Опис</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                    {% for error in form.description.errors %}
                                <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <br>
                <button type="submit" class="btn b-color-orange">Створити</button>
            </form>
        </div>
    </div>
    <hr>
     <h1 class="page-title">Ваші слова</h1>

    <table class="table table-striped-columns table-hover small-size">
        <thead>
            <tr class="table-info">
                <th>Речення</th>
                {% if user.is_authenticated %}
                <th>У плейлист</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for word in page_sentences %}
            <tr class="">
                <td>{{ word.text }}</td>
                {% if user.is_authenticated %}
                <td class="dropdown">
                  <button onclick="toggleDropdown(event)" class="b-color-orange">Налаштування</button>
                  <ul class="dropdown-content">
                      <li>
                            <select id="playlist{{ word.id }}" class="form-control form-control-sm">
                                {% for playlist in user_playlists %}
                                <option value="{{ playlist.id }}">{{ playlist.title }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-very-small b-color-red" onclick="addSentenceToPlaylist('{{ word.id }}', document.getElementById('playlist{{ word.id }}').value)">Додати</button>
                        </li>


                    <li><form method="post" action="{% url 'my:toggle_word_visibility' word.id 'sentence' %}" class="toggle-visibility-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm b-color-blue toggle-visibility-button">
                            {% if word.hide %}
                                <img src="{% static 'img/not_show.svg' %}" alt="Скрыть">
                            {% else %}
                                <img src="{% static 'img/show.svg' %}" alt="Показать">
                            {% endif %}
                        </button>
                    </form>
                    </li>

                    <li><a href="{% url 'my:delete_word' word.id 'sentences' %}"><img src="{% static 'img/delete.svg' %}" alt="Видалити" style="margin: 8px;"></a></li>
                  </ul>
                </td>

                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Нічого не знайдено.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_sentences.has_previous %}
                <a href="?page_sentences=1" class="btn btn-sm b-color-green-blue">&laquo; Перша</a>
                <a href="?page_sentences={{ page_sentences.previous_page_number }}" class="btn btn-sm b-color-orange ">Попередня</a>
            {% endif %}

            <span class="current-page">
                {{ page_sentences.number }} з {{ page_sentences.paginator.num_pages }}.
            </span>

            {% if page_sentences.has_next %}
                <a href="?page_sentences={{ page_sentences.next_page_number }}" class="btn btn-sm b-color-orange ">Наступна</a>
                <a href="?page_sentences={{ page_sentences.paginator.num_pages }}" class="btn btn-sm b-color-green-blue">Остання &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h1 class="page-title">Ваші речення</h1>
    <br>
    <table class="table table-striped-columns table-hover  small-size">
        <thead>
            <tr class="table-info">
                <th>Слово - Переклад</th>
                <th>Опис</th>
                {% if user.is_authenticated %}
                <th>У плейлист</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for word in page_words %}
            <tr class="">
                <td>{{ word.word }} - {{ word.translate }}</td>
                <td>
                    <span class="short-description">{{ word.description|slice:":20" }}</span>
                    <span class="full-description" style="display: none;">{{ word.description }}</span>
                        <img class="show-more-description" src="{% static 'img/dots.svg' %}" alt="Вивчив">
                </td>
                {% if user.is_authenticated %}
                <td class="dropdown">
                  <button onclick="toggleDropdown(event)" class="b-color-orange">Налаштування</button>
                  <ul class="dropdown-content">
                    <li>
                        <select id="playlist_sentence{{ word.id }}" class="form-control form-control-sm">
                            {% for playlist in user_playlists %}
                            <option value="{{ playlist.id }}">{{ playlist.title }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-very-small b-color-red" onclick="addWordToPlaylist('{{ word.id }}', document.getElementById('playlist_sentence{{ word.id }}').value)">Додати</button>
                    </li>


                      <li><form method="post" action="{% url 'my:toggle_word_visibility' word.id 'word' %}" class="toggle-visibility-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm b-color-blue toggle-visibility-button">
                            {% if word.hide %}
                                <img src="{% static 'img/not_show.svg' %}" alt="Скрыть">
                            {% else %}
                                <img src="{% static 'img/show.svg' %}" alt="Показать">
                            {% endif %}
                        </button>
                    </form></li>
                      <li><a href="{% url 'my:delete_word' word.id 'word' %}"><img src="{% static 'img/delete.svg' %}" alt="Видалити"></a></li>


                {% endif %}
                  </ul>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Нічого не знайдено.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <br>
        <br>
    <div class="pagination">
        <span class="step-links">
            {% if page_words.has_previous %}
                <a href="?page_words=1" class="btn btn-sm b-color-green-blue">&laquo; Перша</a>
                <a href="?page_words={{ page_words.previous_page_number }}" class="btn btn-sm b-color-orange ">Попередня</a>
            {% endif %}

            <span class="current-page">
                {{ page_words.number }} з {{ page_words.paginator.num_pages }}.
            </span>

            {% if page_words.has_next %}
                <a href="?page_words={{ page_words.next_page_number }}" class="btn btn-sm b-color-orange ">Наступна</a>
                <a href="?page_words={{ page_words.paginator.num_pages }}" class="btn btn-sm b-color-green-blue">Остання &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>



<br>
<br>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>


<script>
$(document).ready(function() {
    // Обработчик клика по кнопке изменения видимости
    $('.toggle-visibility-form').submit(function(event) {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию

        var form = $(this);
        var button = form.find('.toggle-visibility-button'); // Находим кнопку
        var tr = form.closest('tr'); // Получаем родительскую строку
        var descriptionTd = tr.find('.description-td'); // Находим ячейку с описанием

        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function(response) {
                if (response.hide) {
                    descriptionTd.find('.short-description').show();
                    descriptionTd.find('.full-description').hide();
                    // Меняем изображение на not_show.svg
                    button.find('img').attr('src', '{% static 'img/not_show.svg' %}');
                } else {
                    descriptionTd.find('.short-description').hide();
                    descriptionTd.find('.full-description').show();
                    // Меняем изображение на show.svg
                    button.find('img').attr('src', '{% static 'img/show.svg' %}');
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    });
});


    // Копирования плейлиста
        const copyButtons = document.querySelectorAll(".function-link");
            copyButtons.forEach(button => {
                button.addEventListener("click", function() {
                    const linkToCopy = button.getAttribute("data-link");
                    const tempInput = document.createElement("input");
                    document.body.appendChild(tempInput);
                    tempInput.setAttribute("value", linkToCopy);
                    tempInput.select();
                    document.execCommand("copy");
                    document.body.removeChild(tempInput);

                    const statusMessage = document.getElementById("status-message");
                    statusMessage.innerHTML = "Посилання скопійовано!";
                    statusMessage.style.display = "block";

                    setTimeout(function() {
                        statusMessage.style.display = "none";
                    }, 3000);
                });
            });



function addWordsToPlaylist(wordId, playlistId) {
    const csrfToken = getCookie('csrftoken');

    fetch('/my/add/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken,
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `word_id=${wordId}&playlist=${playlistId}`,
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Network response was not ok.');
        }
    })
    .then(data => {
        alert(data.message);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function addWordToPlaylist(wordId, playlistId) {
    const csrfToken = getCookie('csrftoken');

    fetch('/my/add/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken,
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `word_id=${wordId}&playlist=${playlistId}`,
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Network response was not ok.');
        }
    })
    .then(data => {
        alert(data.message);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function addSentenceToPlaylist(sentenceId, playlistId) {
    const csrfToken = getCookie('csrftoken');

    fetch('/my/add/sentence/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken,
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `word_id=${sentenceId}&playlist=${playlistId}`,
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Network response was not ok.');
        }
    })
    .then(data => {
        alert(data.message);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

    // Функция для получения CSRF-токена из cookie
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }





    // Окрашивание плейлистов
    var playlistItems = document.querySelectorAll('.playlist-item');
    var colors = ['#e0fff7', '#f7dfff', '#fff2cb'];  // Ваші доступні кольори

    for (var i = 0; i < playlistItems.length; i++) {
        var colorIndex = i % colors.length;  // Визначаємо індекс кольору для кожного плейлисту
        var backgroundColor = colors[colorIndex];
        playlistItems[i].style.backgroundColor = backgroundColor;
    }


        const deletePlaylistLinks = document.querySelectorAll('.delete-playlist');

        deletePlaylistLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                const playlistId = this.getAttribute('data-id');
                const confirmation = confirm("Вы уверены, что хотите удалить плейлист?");
                if (!confirmation) {
                    event.preventDefault(); // Отменить действие по умолчанию, если пользователь не подтвердил удаление
                } else {
                    // Если пользователь подтвердил удаление, перейдите по ссылке для удаления плейлиста
                    window.location.href = `{% url 'my:delete_playlist' 0 %}`.replace('0', playlistId);
                }
            });
        });
</script>

{% endblock %}

