{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5 font-family-game ">
    <h1 class="text-center">{{ playlist.title }}</h1>

    <div class="table-responsive">
        <h3 class="page-title">Ваші слова</h3>
            <hr>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Слово-Переклад</th>
                    <th>Опис</th>
                    <th>Видалити</th>
                </tr>
            </thead>
            <tbody>
                {% for item in playlist_items %}
                <tr style="background-color: {{ item.row_color }}">
                    {% if item.word.id %}
                    <td>{{ item.word.word }} - {{ item.word.translate }}</td>
                    <td>
                        <span class="short-description">{{ item.word.description|slice:":20" }}</span>
                        <span class="full-description" style="display: none;">{{ item.word.description }}</span>
                            <img class="show-more-description" src="{% static 'img/dots.svg' %}" alt="Вивчив">
                    </td>

                    <td>
                        <form method="post" action="{% url 'my:remove_word_from_playlist' playlist.id item.word.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn b-color-red-orange">Видалити</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Плейлист порожній.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center mb-5">
            <a href="{% url 'my:playlist_game' playlist.id 'base_game' %}" class="btn b-color-orange">Играть</a>
        </div>
    </div>


    <div class="table-responsive">
        <h3 class="page-title">Ваші речення</h3>
        <hr>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Речення</th>
                    <th>Видалити</th>
                </tr>
            </thead>
            <tbody>
                {% for item in playlist_items %}
                    <tr style="background-color: {{ item.row_color }}">
                        {% if item.sentence.id %}
                        <td>{{ item.sentence.text }}</td>
                        <td>
                                <form method="post" action="{% url 'my:remove_sentence_from_playlist' playlist.id item.sentence.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn b-color-red-orange">Видалити</button>
                                </form>
                        </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Плейлист порожній.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="text-center">
                <a href="{% url 'my:playlist_game' playlist.id 'matching' %}" class="btn b-color-orange">Играть</a>
            </div>
    </div>


</div>

<script>

        const showMoreDescriptionLinks = document.querySelectorAll(".show-more-description");
    showMoreDescriptionLinks.forEach((link) => {
        link.addEventListener("click", (e) => {
            e.preventDefault(); // Предотвращаем переход по ссылке
            const parentTd = e.target.parentNode;
            const shortDescription = parentTd.querySelector(".short-description");
            const fullDescription = parentTd.querySelector(".full-description");
            if (shortDescription.style.display === "none") {
                shortDescription.style.display = "inline";
                fullDescription.style.display = "none";
                link.textContent = " ...";
            } else {
                shortDescription.style.display = "none";
                fullDescription.style.display = "inline";
                link.textContent = " ...";
            }
        });
    });

</script>
{% endblock %}

