{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5 font-family-game base-container">
    <div class="row text-center">
        <h1 class="text-center title-page">{{ playlist.title }}</h1><hr>
    </div>

    <p class="description-playlist">{{ playlist.description }}</p>

    <div class="table-responsive" id="words-table">
        <h3 class="page-title-list  text-center">Словар <img src="{% static 'img/dir.png' %}" alt="Вивчив" style="width: 40px;"></h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Слово-Переклад</th>
                    <th>Опис</th>
                </tr>
            </thead>
            <tbody>
                {% for item in playlist_items %}
                <tr style="background-color: {{ item.row_color }}">
                    {% if item.word.id %}
                    <td>{{ item.word.word }} - {{ item.word.translate }}</td>
                    <td>
                        <span class="short-description">{{ item.word.description|slice:":20" }}</span>
                        <span class="full-description" style="display: none;">{{ item.word.description }}</span>
                            <img class="show-more-description" src="{% static 'img/dots.svg' %}" alt="Вивчив">
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center mb-5">
            <a href="{% url 'my:playlist_game' playlist.id 'base_game' %}" class="btn b-color-orange">Играть</a>
        </div>
    </div>


    <div class="table-responsive" id="sentences-table">
        <h3 class="page-title-list text-center ">Збери речення<img src="{% static 'img/colect.png' %}" alt="Вивчив" style="width: 40px;"></h3>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Речення</th>
                </tr>
            </thead>
            <tbody>
                {% for item in playlist_items %}
                    <tr style="background-color: {{ item.row_color }}">
                        {% if item.sentence.id %}
                        <td>{{ item.sentence.text }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

            <div class="text-center">
                <a href="{% url 'my:playlist_game' playlist.id 'matching' %}" class="btn b-color-orange">Играть</a>
            </div>
    </div>

    <div id="empty-playlist-message" style="display: none;">
        <p>Плейлист порожній.</p>
    </div>

</div>

<script>

const wordsTable = document.getElementById("words-table");
const sentencesTable = document.getElementById("sentences-table");
const emptyPlaylistMessage = document.getElementById("empty-playlist-message");

// Проверяем, есть ли элементы в таблицах
const wordsTableRows = wordsTable.getElementsByTagName("td");
const sentencesTableRows = sentencesTable.getElementsByTagName("td");


if (wordsTableRows.length <= 0) {
    wordsTable.style.display = "none";
}

if (sentencesTableRows.length <= 0) {
    sentencesTable.style.display = "none";
}



        const showMoreDescriptionLinks = document.querySelectorAll(".show-more-description");
    showMoreDescriptionLinks.forEach((link) => {
        link.addEventListener("click", (e) => {
            e.preventDefault(); // Предотвращаем переход по ссылке
            const parentTd = e.target.parentNode;
            const shortDescription = parentTd.querySelector(".short-description");
            const fullDescription = parentTd.querySelector(".full-description");
            if (shortDescription.style.display === "none") {
                shortDescription.style.display = "inline";
                fullDescription.style.display = "none";
                link.textContent = " ...";
            } else {
                shortDescription.style.display = "none";
                fullDescription.style.display = "inline";
                link.textContent = " ...";
            }
        });
    });

</script>
{% endblock %}

