{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
        <div class="row">
                    <h1 class="title-header-page">Плейлисти</h1>
        </div>

        <div class="row">
        {% for playlist in playlists_results %}
                <div class="col-md-4 mb-4" style="width: 20rem;">
                    <div class="card {% cycle 'card-pastel-1' 'card-pastel-2' 'card-pastel-3' 'card-pastel-4' 'card-pastel-5' %}">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ playlist.title }}</h5>
                            <p class="card-text">{{ playlist.description }}</p>

                            <div class="buttons-container">
                                    <a href="{% url 'my:playlist_detail' playlist.id %}" class="btn b-card-pastel">{{ playlist.title }}</a>
                                <a class="btn-copy-link link-button-page" data-link="{{ request.get_host }}{% url 'my:playlist_detail' playlist.id %}">
                                    <img src="{% static 'img/link.svg' %}" alt="Видалити">
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>


        <div class="row">
            <h1 class="title-header-page">Уроки</h1>
        </div>
        <div class="row">
            {% for page in pages_results %}
                <div class="col-md-4 mb-4" style="width: 20rem;">
                    <div class="card {% cycle 'card-pastel-5' 'card-pastel-2' 'card-pastel-3' 'card-pastel-4' 'card-pastel-1' %}">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ page.title }}</h5>
                            <p class="card-text">{{ page.description }}</p>

                            <div class="buttons-container">
                                <a href="{% url 'my:view_page' page.id %}" class="btn b-card-pastel">Вивчати</a>

                                {% if user.is_authenticated %}
                                    {% if user != page.user %}
                                        <a href="{% url 'my:save_page' page.id %}" class="save-button-page"><img src="{% static 'img/save.svg' %}" alt="зберегти" ></a>
                                    {% endif %}
                                {% endif %}

                                <a class="btn-copy-link link-button-page" data-link="{{ request.get_host }}{% url 'my:view_page' page.id %}">
                                    <img src="{% static 'img/link.svg' %}" alt="копиювати">
                                </a>

                                {% if user.is_authenticated and user == page.user %}
                                    <a data-page-id="{{ page.id }}" class="delete-button-page"><img src="{% static 'img/delete.svg' %}" alt="Видалити" ></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>



        <div class="row">
            <h1 class="title-header-page">Слова</h1>
        </div>
        <div class="row">
        {% for word in word_results %}
            <div class="col-md-4 mb-4" style="width: 20rem;">
                <div class="card {% cycle 'card-pastel-5' 'card-pastel-2' 'card-pastel-3' 'card-pastel-4' 'card-pastel-1' %}">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title text-center">{{ word.title }}</h5>
                        <p class="card-text">{{ word.translate }}</p>

                        {% if user.is_authenticated %}
                            <form method="POST" action="{% url 'my:add_to_playlist' %}" class="text-center">
                                {% csrf_token %}
                                <input type="hidden" name="word_id" value="{{ word.id }}">
                                <div class="form-group mb-2 ">
                                    <select id="playlist" name="playlist" class="form-control form-control-sm chose-select">
                                        {% for playlist in user_playlists %}
                                        <option value="{{ playlist.id }}">{{ playlist.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-very-small b-color-red">Додати</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endfor %}
        </div>


</div>


<script>
        const copyButtons = document.querySelectorAll(".btn-copy-link");
            copyButtons.forEach(button => {
                button.addEventListener("click", function() {
                    const linkToCopy = button.getAttribute("data-link");
                    const tempInput = document.createElement("input");
                    document.body.appendChild(tempInput);
                    tempInput.setAttribute("value", linkToCopy);
                    tempInput.select();
                    document.execCommand("copy");
                    document.body.removeChild(tempInput);

                    const statusMessage = document.getElementById("status-message");
                    statusMessage.innerHTML = "Посилання скопійовано!";
                    statusMessage.style.display = "block";

                    setTimeout(function() {
                        statusMessage.style.display = "none";
                    }, 3000);
                });
            });
</script>

{% endblock %}
