body {
    font-family: 'Pangolin', cursive;
    background: linear-gradient(to right, #fff, #a6f2f7);
    background-size: 100% 100%;
    background-attachment: fixed;
    min-width: 100vw;

}


a {
    text-decoration: none;
    color: inherit;
}

.font-family-game {
    max-width: 75%;
    letter-spacing: 1.2px;
}

@media (max-width: 768px) {
    .font-family-game {
        max-width: 100%;
    }
}

.my-shadow-pages {
        text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); /* Горизонтальное смещение = 0 */
    padding: 20px;
    border: 1px solid #101055;
    border-radius: 20px;
}

.result-message-container {
    padding: 15px; /* Внутренний отступ */
    font-size: 25px; /* Увеличение размера шрифта до 20 */
    display: inline-block; /* Отображение как блочный элемент */
    border-radius: 10px; /* Закругленные углы */
    text-align: center; /* Центрирование текста */
}

@media (max-width: 768px) {
    .result-message-container {
        padding: 5px; /* Внутренний отступ */
        font-size: 10px; /* Увеличение размера шрифта до 20 */
    }
}


.class-fo-h4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень текста */
    font-size: 34px; /* Размер шрифта */

}

.my-dropdown-menu-center {
    width: 80%;
}

.my-color-rule {
    background-color: rgba(0, 0, 255, 0.2); /* Светло-прозрачный синий фон */
    color: rgba(0, 0, 100);  /* Белый текст */
    border: none; /* Убираем границу */
}

.my-dropdown-right {
    display: flex;
    justify-content: end;
}


.my-logo-img {
    width: 70px; /* Устанавливаем ширину изображения в 100 пикселей */
}


.my-title-h1 {
    font-size: 33px;
    color: rgba(23, 0, 89); /* Зеленый текст */
    text-align: center; /* Выравниваем текст по центру */
    padding: 30px; /* Добавляем внутренний отступ для текста */
    background-color: rgba(255, 255, 167, 0.8); /* Светло-прозрачный синий фон */
    border: 2px solid rgba(255, 233, 167); /* Зеленая круглая рамка */
    font-weight: bold; /* Добавляем жирность к тексту */
    display: inline-block; /* Делаем блок инлайновым, чтобы он находился в центре горизонтально */
}
.nav-link {
    font-size: 23px; /* Задайте желаемый размер шрифта */
}
@media (max-width: 768px) {
    .my-title-h1 {
        font-size: 15px; /* Уменьшаем размер шрифта для мобильных устройств */
    }
    .small-size {
        font-size: 11px;
    }
}


.word-title {
    font-size: 20px; /* Размер шрифта */
    color: #333; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
    border-bottom: 1px solid #ccc; /* Горизонтальная линия под заголовком */
    padding: 10px 0; /* Внутренние отступы сверху и снизу */
    cursor: pointer; /* Изменение курсора при наведении */
}

.chose-select {
        font-size: 12px; /* Установите желаемый размер шрифта */
    padding: 2px; /* Установите желаемый внутренний отступ */
    width: 150px;
}


.l-hover {
    font-size: 16px;
    padding: 10px; /* Добавляем отступ вокруг элемента */
    border: 1px solid #ccc; /* Добавляем рамку */
    border-radius: 10px; /* Округляем углы на 10px */
    transition: background-color 0.3s; /* Добавляем анимацию изменения цвета при наведении */
}

.l-hover:hover {
    border: 2px solid #00a588; /* Добавляем рамку */
    background-color: #b9ffed; /* Изменение цвета при наведении */
}

@media (max-width: 768px) {
    .l-hover {
        font-size: 12px; /* Уменьшаем размер шрифта для мобильных устройств */
    }
}




.visually-hidden {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
        white-space: nowrap;
}

.l-hover.selected {
    background-color: #b9ffed; /* Цвет для выбранной опции */
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.hidden {
    display: none;
}

.left-probel {
    margin-right: 10px;
}

.show-more-description {
    cursor: pointer;
}

.playlist-container {
    max-height: 300px; /* Установите желаемую максимальную высоту контейнера */
    overflow-y: auto;
}
.new-line-anyway {
    max-width: 100%; /* Установите максимальную ширину по вашему усмотрению */
    word-wrap: break-word; /* Добавьте перенос слов для длинного текста */
}


.btn-very-small {
    width: 70px; /* Ширина */
    height: 30px; /* Высота */
    font-size: 13px; /* Размер шрифта */
}


.playlist_game_base {
    list-style: none;
}

.playlist_game_base_li {
    padding: 10px;
}

.right_win {
    font-size: 15px;
    background-color: #d3fcd6;
    color: #06550c;
    border: 2px solid #d3fcd6;
    padding: 10px;
    border-radius: 7px; /* Здесь задано значение радиуса, которое вы можете настроить */
}

.lose_lose {
    font-size: 15px;
    background-color: #fbc5c1;
    color: #9e160b;
    border: 2px solid #fbc5c1;
    padding: 10px;
    border-radius: 7px; /* Здесь также задано значение радиуса */
}




.voice-button {
    border: none;
    background-color: inherit;
}

.my-div-li-button {
    display: flex;
}


/* Гра на спиввидношеня слив */
.draggable {
    font-size: 16px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: rgba(187, 200, 251, 0.5);
    border: 1px solid #092387;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s; /* Плавный переход для background-color и border */
}

.draggable:hover {
    background-color: rgba(230, 253, 224, 0.5);
    border: 1px solid #31be0c;
}


.my-border {
    background-color: rgba(	254, 252, 242, 0.5);
    border: 2px solid #fdf8e0;
    border-radius: 10px;
}

.img-sentence-game {
    max-width: 612px;
    max-height: 420px;
    border-radius: 20px;

}

.img-sentence-hellp {
    border-radius: 3%;
}

.help-message {
    padding: 5%;
    font-size: 20px;
}

.my-text-success {
    color: green;
    margin: 5px;
    padding: 3px; /* Внутренний отступ */
    font-size: 15px; /* Увеличение размера шрифта до 20 */
    display: inline-block; /* Отображение как блочный элемент */
    border-radius: 5px; /* Закругленные углы */
    background-color: rgba(	193, 251, 197, 0.5);
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
}



.my-text-danger {
    color: red;
    margin: 5px;
    padding: 3px; /* Внутренний отступ */
    font-size: 15px; /* Увеличение размера шрифта до 20 */
    display: inline-block; /* Отображение как блочный элемент */
    border-radius: 5px; /* Закругленные углы */
    background-color: rgba(251, 197, 193, 0.5);
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
}


@media (max-width: 1000px) {
    .img-sentence-game {
        max-width: 274px;
        max-height: 220px;
    }
    .sentence-game-word {
        font-size: 12px;
    }
    .my-text-danger {
        font-size: 12px;
    }
    .my-text-success {
        font-size: 12px;
    }
}

.custom-tooltip {
    position: relative;
    cursor: pointer;
    z-index: 1; /* Устанавливаем значение z-index, чтобы подсказка была выше других элементов */
}

.custom-tooltip .tooltip-text {
    visibility: hidden;
    background-color: #ebeffe;
    color: #010411;
    text-align: center;
    border: 2px solid #0b38df;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.6s;
    z-index: 2; /* Устанавливаем значение z-index для подсказки, чтобы она была выше .custom-tooltip */
}

.custom-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    z-index: 3; /* Устанавливаем значение z-index для подсказки в состоянии hover */
}




.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffe492;
  border-radius: 10px;
  min-width: 160px;
  z-index: 1;
  max-height: 200px; /* Установите максимальную высоту меню, чтобы избежать выхода за пределы экрана */
  overflow-y: auto; /* Добавьте полосу прокрутки, если меню превышает максимальную высоту */
  padding: 5px 10px;
}

.dropdown .dropdown-content li {
  padding: 2px;
  border-top: 1px solid #8a858a;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
}









.b-color-red {
    background-color: #fe8750;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease; /* Здесь определены свойства, которые будут анимированы и их параметры */
}

.b-color-red:hover {
    background-color: #ea2316;
    color: #fff4fc;
}



.b-color-orange {
    background-color: #ffe492;
    color: black;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.b-color-orange:hover {
    background-color: #ff9f42;
    color: #fff4fc;
}

.b-color-red-orange {
    background-color: #ffc9b8;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    color: black;
    border: 2px solid transparent;
    border-radius: 5px;
}

.b-color-red-orange:hover {
    background-color: #f33a00;
    color: #fff4fc;
    border: 2px solid #ffc9b8;
}

.b-color-green-blue {
    background-color: #ccfff6;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    color: black;
    border: 2px solid transparent;
    border-radius: 5px;
}

.b-color-green-blue:hover {
    background-color: #00a588;
    border: 2px solid #ccfff6;
}


.base-container {
    background-color: #fff;
    padding: 10px;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Горизонтальное смещение, вертикальное смещение, размытие и цвет тени */
}