{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h1>Артиклі в німецькій мові</h1>

        <h2>Визначені артиклі (Definite Articles)</h2>
        <div class="container">
            <p>
                <strong class="text-primary">Визначені артиклі (Definite Articles)</strong> - це частина мови, яка вказує на конкретний предмет чи особу, про якого чи яку ми вже знаємо чи визначаємо. Вони використовуються для ідентифікації іменників, які вже відомі або визначені в контексті. В німецькій мові визначені артиклі відповідають на питання "який?" або "яка?" для різних родів (чоловічий, жіночий, середній) і чисел (однинний, множинний).

                Визначені артиклі допомагають точно визначити, про кого чи що йдеться в тексті і додати конкретність до мовлення. Вони є важливою частиною німецької граматики та допомагають розрізняти предмети за їхнім родом, числом і відмінком.
            </p>
        </div>

        <table class="table mb-5">
            <thead>
                <tr>
                    <th>Рід / Число</th>
                    <th>Номінатив (Nominativ)</th>
                    <th>Родовий (Genitiv)</th>
                    <th>Давальний (Dativ)</th>
                    <th>Знахідний (Akkusativ)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Маскулін (чоловік)</td>
                    <td>der</td>
                    <td>des</td>
                    <td>dem</td>
                    <td>den</td>
                </tr>
                <tr>
                    <td>Жіночий</td>
                    <td>die</td>
                    <td>der</td>
                    <td>der</td>
                    <td>die</td>
                </tr>
                <tr>
                    <td>Середній</td>
                    <td>das</td>
                    <td>des</td>
                    <td>dem</td>
                    <td>das</td>
                </tr>
                <tr>
                    <td>Множина</td>
                    <td>die</td>
                    <td>der</td>
                    <td>den</td>
                    <td>die</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h2 class="mt-5">Невизначені артиклі (Indefinite Articles)</h2>
        <div class="container">
            <p>
                <strong class="text-primary">Невизначені артиклі (Indefinite Articles)</strong> - це частина мови, яка вказує на невизначений чи загальний предмет чи особу, тобто на того, про кого чи що ми не знаємо чи не визначаємо конкретно. У німецькій мові невизначені артиклі використовуються для узагальнення іменників, які ще не визначені в контексті чи стосуються невизначених предметів. Вони вказують на іменники загальної чи невизначеної природи.

                Невизначені артиклі допомагають створювати загальну, неспецифічну характеристику для предметів чи осіб у мовленні, коли немає необхідності вказувати на конкретність. Вони також використовуються при виразі заперечення чи відсутності чогось.
            </p>
        </div>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th>Рід / Число</th>
                    <th>Номінатив (Nominativ)</th>
                    <th>Родовий (Genitiv)</th>
                    <th>Давальний (Dativ)</th>
                    <th>Знахідний (Akkusativ)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Маскулін (чоловік)</td>
                    <td>ein</td>
                    <td>eines</td>
                    <td>einem</td>
                    <td>einen</td>
                </tr>
                <tr>
                    <td>Жіночий</td>
                    <td>eine</td>
                    <td>einer</td>
                    <td>einer</td>
                    <td>eine</td>
                </tr>
                <tr>
                    <td>Середній</td>
                    <td>ein</td>
                    <td>eines</td>
                    <td>einem</td>
                    <td>ein</td>
                </tr>
                <tr>
                    <td>Множина</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}