{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5 font-family-game">
    <h1 class="word-title">
        {{ word.word_without_article }}
    </h1>

    <div id="result-message-container" class="mt-3 text-center">
        <p id="result-message"></p>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 ">
            <div class="d-flex justify-content-between align-items-end">
                <form id="game-form" class="flex-grow-1">
                    {% for option in options %}
                        <br>
                        <div class="form-check">
                            <input class="form-check-input visually-hidden" type="radio" name="selected_option" value="{{ option|escape }}" id="option-{{ forloop.counter }}">
                            <label class="form-check-label l-hover" for="option-{{ forloop.counter }}" title="{{ option.description|escapejs }}">
                                {{ option }}
                            </label>
                        </div>
                    {% endfor %}
                    <br>
                    <button type="button" class="btn b-color-orange" id="check-button">Перевірити</button>
                    <button type="button" class="btn b-color-green-blue" id="refresh-button">Наступне</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img id="article-image" src=""  class="article-image">
            <a href="{% url 'artikel:artikel_info' %}" class="btn b-color-red align-self-start">Нагадати артиклі</a>
        </div>
    </div>
</div>



    <script>
        var artikelImages = {
            'ein': '{% static "img/artikel/ein.png" %}',
            'eine': '{% static "img/artikel/eine.png" %}',
            'den': '{% static "img/artikel/den.png" %}',
            'der': '{% static "img/artikel/der.png" %}',
            'das': '{% static "img/artikel/das.png" %}',
            'dem': '{% static "img/artikel/dem.png" %}',
            'des': '{% static "img/artikel/des.png" %}',
            'die': '{% static "img/artikel/die.png" %}',
        };

        var options = document.querySelectorAll('.form-check-label.l-hover');
        options.forEach(function(option) {
            option.addEventListener('mouseenter', function() {
                var article = option.textContent.trim().toLowerCase();
                var image = artikelImages[article];

                if (image) {
                    document.getElementById('article-image').src = image;
                }
            });

            option.addEventListener('mouseleave', function() {
                document.getElementById('article-image').src = '';
            });
        });

    document.addEventListener('DOMContentLoaded', function() {
        var options = document.querySelectorAll('.form-check-label.l-hover');
        options.forEach(function(option) {
            option.addEventListener('click', function() {
                options.forEach(function(otherOption) {
                    otherOption.classList.remove('selected');
                });
                this.classList.add('selected');
            });
        });

        document.getElementById('check-button').addEventListener('click', function() {
            var selectedOption = document.querySelector('input[name="selected_option"]:checked');
            var resultMessageContainer = document.getElementById('result-message-container');
            var correctArticle = '{{ word.article }}';

            if (selectedOption && selectedOption.value === correctArticle) {
                resultMessageContainer.textContent = 'Вірно!';
                resultMessageContainer.style.backgroundColor = 'rgba(0, 128, 0, 0.2)';
                resultMessageContainer.classList.remove('text-danger');
                resultMessageContainer.classList.add('text-success');
            } else {
                resultMessageContainer.textContent = 'Не вірно!';
                resultMessageContainer.style.backgroundColor = 'rgba(255, 0, 0, 0.2)';
                resultMessageContainer.classList.remove('text-success');
                resultMessageContainer.classList.add('text-danger');
            }
        });

        document.getElementById('refresh-button').addEventListener('click', function() {
            location.reload();
        });
    });
    </script>
{% endblock %}

